* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    overflow:auto; /* Prevent full-page scrolling */
}

:root {
    --bg-color: #080808;
    --text-color: white;
    --main-color: rgb(82, 157, 232);
}

section {
    height: 100vh;
    padding: 10rem 12%;
    overflow-y: auto; }

.education {
    padding-top:40rem ;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 26rem;
}

.education h2 {
    margin-bottom: 2rem;
}


.portion{
    
    margin: 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    margin: 3rem;
  
    width: 300px;
    height: 200px;
    perspective: 500px;
}

.container h1 {
    margin-bottom: 0;
}

.container:hover > .card {
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px var(--main-color);
    position: absolute;
    backface-visibility: hidden;
}

.front h1 {
    text-align: center;
    margin-top: 10rem;
    font-size: 2.3rem;
    text-shadow: rgb(0, 0, 0) 10px 10px 10px;
    text-decoration: underline overline white;
}

#card1,
#card2,
#card3,
#card4 {
    background-image: url(https://media-hosting.imagekit.io//2c27fcd0bcb5463c/background%20image.avif?Expires=1832499728&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=l4XK7PfgXhimKJrR8HvW9KaXFDBQN5pAAMkPE9leTWEGnpLbNBhOjnf3iolfBY5JzayFVq0RgOXmUbqK65iAEuuVWpN6GyjCH3caGyVn0suQIdBpHFDuj7qfqyq4~d8KbEsFQSMSVJijYhwQt~vGi5pfXXxstnnrcQ~XhBLme5KlnmBu2Z5mRrVvNCzIP5VazqmyFHQfAyrExxMuS23lk64XuUEfNYAGfAD-ncOWksbIMmipEUXi0x~dVbPibixZtGGB2MX305cFCvmQJqL4bUrPXp54~M2~pxk096N9wkIKa9QBbSvzkmQ44RUPm74~4tmT1eCrlvsvTnbrlZ6Ypw__);
    height: 100%;
    width: 100%;
   
    object-fit: cover;
    overflow-y: hidden;
}

.back {
    background: linear-gradient(0.25turn, #51b5f4, #084cf8, #1ac2c2);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.back h2 {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .education{
        padding-top: 45rem;
    }
}

